body {
    background-color: dimgrey;

}

.text{
    position: absolute;
     top:40%;
    left:30%;
    width: 1500px;
    height: 1500px;

}


.dreapta-jos {
  position: absolute;
  top: 90%;
  left: 90%;
}


.tab{
    position:absolute;


}