body {
    background-image: url("../images/road1.jpg");
    background-size: cover;
}

h1 {
    font-size: 5rem;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 5px 10px black;
}

.text {
    position: absolute;
    top: 0%;
}


.content {
    position: absolute;
    top: 50%;
    left: 30%;

}


.dreapta-jos {
    position: absolute;
    top: 90%;
    left: 90%;
}


.cv {
    position: absolute;
    top: 0%;
    left: 6%;
}


.skill {
    position: absolute;
    top: 30%;
    right: 2%;
    animation: mymove 5s infinite;
    font-family: Arial, Helvetica, sans-serif;

}

