body {
    background-image: url("/mysite/public/road1.jpg");

}

h1 {
    font-size: 5rem;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px black;
}

.text {
    position: absolute;
    top: 0%;
}


.content {
    position: absolute;
    top: 50%;
    left: 30%;

}

.razvan_photo {
    width: 200px;
    position: absolute;
    left: 42%;
    top: 13%;
    border-radius: 70px;
    box-shadow: 10px 10px black;


}


.dreapta-jos {
    position: absolute;
    top: 90%;
    left: 90%;
}


.cv {
    position: absolute;
    top: 0%;
    left: 6%;
}

.skill {
    position: absolute;
    top: 30%;
    right: 2%;
    animation: mymove 5s infinite;
    font-family: Arial, Helvetica, sans-serif;


}

