body {
    background-color: dimgrey;

}

.content{
    position: absolute;
     top:50%;
    left:30%;

}


.dreapta-jos {
  position: absolute;
  top: 90%;
  left: 90%;
}


.tab{
    position:absolute;


}